.container{
    width:100%;
}
.make-plan{
    height: 20vh;
    margin: 20px 0;
}
.make-plan h3{
    margin-bottom: 10px;
}
.make-plan p{
    margin-left: 6px;
}
.factors{
    margin-bottom: 32px;
}
.factors h4{
    padding-bottom: 10px;
}
.container button{
    width: 160px;
    height: 35px;
    font-size: larger;
    color: white;
    border: none;
    font-weight: bold;
    outline: none;
    background-color: green;
    margin-bottom: 20px;
}
select{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    letter-spacing: 1px;
    padding-left: 20px;
}

.inner{
    width: 90%;
    margin: 0 auto;
}
ul li{
    list-style: none;
    padding-bottom: 8px;
    list-style: square;
    margin-left: 30px;
}
ul{
    margin-bottom: 12px;
}