body{
    margin: 0;
    padding: 0%;
    font-family:Helvetica;
}
header{
    width: 100%;
    height: 80px;
    background-color: #444;
}
.brand{
    width: 100px;
    float: left;
}
.home{
    width: 50%;
    float: left;
}
.home a{
    text-decoration: none;
    color: white;
}
header .container{
    width: 70%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}
.main{
    background-color: rgb(85, 211, 85);
    width: 100%;
    height: 90vh;
}
.main .container{
    width: 70%;
    margin: 0 auto;
}
.form{
    padding: 30px 0;
}
.form .input-group{
    margin-top: 20px;
    width: 100%;
}
button{
    border: white solid 1px;
    border-radius: 20px;
    outline: none;
    color: #fff;
    width: 200px;
    font-weight: bold;
    padding:5px 10px;
    text-transform: uppercase;
    height:40px;
    font-size: 16px;
    background: none;
    margin: 20px 0;
    margin-left: 130px;
}
.input-group label{
    width: 132px;
    float: left;
}
.input-group input{
    width: 200px;
    padding: 3px 2px;
}
.input{
    width: 100%;
}
legend{
    padding: 5px 0px;
}
.main h3{
    color: white;
    text-decoration: aqua;
    text-decoration: underline;
}

@media (max-width:485px){
    button{
        margin-left: 0;
    }
}
