.buy{
    width: 80%;
    margin: 0 auto;
    height: fit-content;
}
.headings{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.headings span{
    width: 40%;
    margin-left: 3px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}
.headings a{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: dodgerblue;
}
.commodity{
    width: 30%;
    margin: 20px 1.5%;
    height: 47vh;
    float:left;
    border: rgb(207, 206, 206) solid 3px;
    border-radius: 5px;
}
.image{
    width: 90%;
    height: 30vh;
    overflow: hidden;
    margin: 0 auto;
}
.information{
    width: 90%;
    height: 7vh;
    margin-top: 5px;
    margin: 10px auto;
}
.information .span{
    margin: 1vh 0 0px;
}
.image h4{
    margin: 15px;
    margin-left: 0;
}
.commodity button{
    margin-left: 5%;
    height: 30px;
    width: 160px;
    background-color: rgb(17, 192, 125);
    border: none;
    color: white;
    font-weight: bold;
    outline: none;
}
.commodity button:hover{
    background-color: rgb(93, 209, 165);

}

@media (max-width:768px){
    .headings span{
        text-transform: uppercase;
        font-size: 16px;
        width: 55%;
        font-weight: bold;
    }
    .headings a{
        text-decoration: none;
        font-size: 16px;
    }
    .commodity{
        width: 96%;
    }
    .image{
        width: 90%;
        height: 30vh;
        overflow: hidden;
        margin: 0 auto;
    }
    .information{
        width: 90%;
        height: 7vh;
        margin-top: 5px;
        margin: 10px auto;
    }
    .information .span{
        margin: 1vh 0 0px;
    }
    .image h4{
        margin: 15px;
        margin-left: 0;
    }

}